<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--
  The "cargo wix" subcommand provides a variety of predefined variables available
  for customization of this template. The values for each variable are set at
  installer creation time. The following variables are available:

  TargetTriple      = The rustc target triple name.
  TargetEnv         = The rustc target environment. This is typically either
                      "msvc" or "gnu" depending on the toolchain downloaded and
                      installed.
  TargetVendor      = The rustc target vendor. This is typically "pc", but Rust
                      does support other vendors, like "uwp".
  CargoTargetBinDir = The complete path to the directory containing the
                      temporary executables created during a cargo build. This
                      includes both the "debug" and "release" folders.
  CargoTargetDir    = The path to the directory containing the
                      temporary build artifacts for a Rust project.
  CargoProfile      = Either "debug" or "release" depending on the build
                      profile.
  Version           = The version for the installer. The default is the
                      "Major.Minor.Fix" semantic versioning number of the Rust
                      package.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used
  with the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers.
-->
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='AgentX'
        UpgradeCode='E8F7D9C0-5A2B-4F1E-9D3C-8B7A6E5F4D2C'
        Manufacturer='AgentX Team'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='AgentX - AI Agent Studio'
            Manufacturer='AgentX Team'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='AgentX Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='AgentX'>
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                            Name='License.rtf'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes'/>
                    </Component>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='B2D7A8F3-1E4C-5D6B-9A0F-C8E7D6B5A4F3' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='agentx.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\agentx.exe'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <!-- Desktop Folder for shortcut -->
            <Directory Id='DesktopFolder' Name='Desktop'>
                <Component Id='DesktopShortcut' Guid='A1B2C3D4-E5F6-7890-ABCD-EF1234567890'>
                    <Shortcut Id='DesktopShortcut'
                        Name='AgentX'
                        Description='AI Agent Studio'
                        Target='[#exe0]'
                        WorkingDirectory='APPLICATIONFOLDER'
                        Icon='ProductICO'>
                    </Shortcut>
                    <RemoveFolder Id='RemoveDesktopShortcut' Directory='DesktopFolder' On='uninstall'/>
                    <RegistryValue
                        Root='HKCU'
                        Key='Software\AgentX'
                        Name='DesktopShortcut'
                        Type='integer'
                        Value='1'
                        KeyPath='yes'/>
                </Component>
            </Directory>

            <!-- Start Menu Folder -->
            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='ApplicationProgramsFolder' Name='AgentX'>
                    <Component Id='StartMenuShortcut' Guid='F1E2D3C4-B5A6-9870-1234-567890ABCDEF'>
                        <Shortcut Id='StartMenuShortcut'
                            Name='AgentX'
                            Description='AI Agent Studio'
                            Target='[#exe0]'
                            WorkingDirectory='APPLICATIONFOLDER'
                            Icon='ProductICO'>
                        </Shortcut>
                        <RemoveFolder Id='RemoveApplicationProgramsFolder' Directory='ApplicationProgramsFolder' On='uninstall'/>
                        <RegistryValue
                            Root='HKCU'
                            Key='Software\AgentX'
                            Name='StartMenuShortcut'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='License'/>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='DesktopShortcut'/>
            <ComponentRef Id='StartMenuShortcut'/>

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Icon Id='ProductICO' SourceFile='assets\logo.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO' />

        <Property Id='ARPHELPLINK' Value='https://agentx.plus'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>

    </Product>

</Wix>
